<p>
  movies works!
</p>
<div class="dropdown"style="position:relative;left:100px;">
  <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">movies
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><small><button class="btn btn-primary " type="button" (click)="goToUrl('Telugumovies')">Telugu</button></small></li>
    <li><small><button class="btn btn-primary " type="button" (click)="goToUrl('Englishmovies')">English</button></small></li>   
    <li><small><button class="btn btn-primary "type="button" (click)="goToUrl('Hindimovies')">Hindi</button></small></li> 
  </ul>
</div>